# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
.DS_Store
.hf_cache/hub/datasets--rotten_tomatoes/.no_exist/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/.huggingface.yaml
.hf_cache/hub/datasets--rotten_tomatoes/.no_exist/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/dataset_infos.json
.hf_cache/hub/datasets--rotten_tomatoes/.no_exist/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/rotten_tomatoes.py
.hf_cache/hub/datasets--rotten_tomatoes/blobs/3ea894e394cd24413b781790683924a2598507d146da9b4ad0a2a01830c77b00
.hf_cache/hub/datasets--rotten_tomatoes/blobs/3327c39f7ec73c15e0f6c132e8b0ba8907d74406
.hf_cache/hub/datasets--rotten_tomatoes/blobs/5427a2b59d1b9bed1ea5cc3f963843bd13ea7443f32d27e74a957a3d181cc545
.hf_cache/hub/datasets--rotten_tomatoes/blobs/f899e3cb8124a12b7d82c30ba5cd35d27eb6575d1b10d65f731a60348454a959
.hf_cache/hub/datasets--rotten_tomatoes/refs/main
.hf_cache/hub/datasets--rotten_tomatoes/snapshots/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/README.md
.hf_cache/hub/datasets--rotten_tomatoes/snapshots/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/test.parquet
.hf_cache/hub/datasets--rotten_tomatoes/snapshots/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/train.parquet
.hf_cache/hub/datasets--rotten_tomatoes/snapshots/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/validation.parquet
.hf_cache/hub/models--facebook--bart-large-mnli/.no_exist/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/added_tokens.json
.hf_cache/hub/models--facebook--bart-large-mnli/.no_exist/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/chat_template.jinja
.hf_cache/hub/models--facebook--bart-large-mnli/.no_exist/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/special_tokens_map.json
.hf_cache/hub/models--facebook--bart-large-mnli/blobs/0a39732b2d8be8e493cab3da68b68cc3e28221de
.hf_cache/hub/models--facebook--bart-large-mnli/blobs/226b0752cac7789c48f0cb3ec53eda48b7be36cc
.hf_cache/hub/models--facebook--bart-large-mnli/blobs/ad0bcbeb288f0d1373d88e0762e66357f55b8311
.hf_cache/hub/models--facebook--bart-large-mnli/blobs/be4d21d94f3b4687e5a54d84bf6ab46ed0f8defd
.hf_cache/hub/models--facebook--bart-large-mnli/blobs/cfbb687dbbd9df99fe865e1860350a22aebac4d26ee4bcb50217f1df606a018e
.hf_cache/hub/models--facebook--bart-large-mnli/blobs/dfc96c728b40cc131e46b1c424c8e072d52b6d74
.hf_cache/hub/models--facebook--bart-large-mnli/refs/main
.hf_cache/hub/models--facebook--bart-large-mnli/snapshots/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/config.json
.hf_cache/hub/models--facebook--bart-large-mnli/snapshots/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/merges.txt
.hf_cache/hub/models--facebook--bart-large-mnli/snapshots/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/model.safetensors
.hf_cache/hub/models--facebook--bart-large-mnli/snapshots/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/tokenizer_config.json
.hf_cache/hub/models--facebook--bart-large-mnli/snapshots/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/tokenizer.json
.hf_cache/hub/models--facebook--bart-large-mnli/snapshots/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/vocab.json
.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/cache-dfd96905323ef0dc.arrow
.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/dataset_info.json
.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/rotten_tomatoes-test.arrow
.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/rotten_tomatoes-train.arrow
.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/rotten_tomatoes-validation.arrow
.gitignore
.gitignore
.gitignore
DataCollectionAgent/.hf_cache/hub/datasets--Blast2k3--jigsaw-toxic-comment-classification-challenge/.no_exist/463fe7e69d206f01fcd6972034c90d57d64b8048/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--Blast2k3--jigsaw-toxic-comment-classification-challenge/.no_exist/463fe7e69d206f01fcd6972034c90d57d64b8048/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--Blast2k3--jigsaw-toxic-comment-classification-challenge/.no_exist/463fe7e69d206f01fcd6972034c90d57d64b8048/jigsaw-toxic-comment-classification-challenge.py
DataCollectionAgent/.hf_cache/hub/datasets--Blast2k3--jigsaw-toxic-comment-classification-challenge/blobs/39a3c6b66fd938b484d33d382825de801e64c5b5
DataCollectionAgent/.hf_cache/hub/datasets--Blast2k3--jigsaw-toxic-comment-classification-challenge/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--Blast2k3--jigsaw-toxic-comment-classification-challenge/snapshots/463fe7e69d206f01fcd6972034c90d57d64b8048/README.md
DataCollectionAgent/.hf_cache/hub/datasets--Deysi--spam-detection-dataset/.no_exist/93ce16d5fa4a41ca47f380654647bcdb64d60e72/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--Deysi--spam-detection-dataset/.no_exist/93ce16d5fa4a41ca47f380654647bcdb64d60e72/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--Deysi--spam-detection-dataset/.no_exist/93ce16d5fa4a41ca47f380654647bcdb64d60e72/spam-detection-dataset.py
DataCollectionAgent/.hf_cache/hub/datasets--Deysi--spam-detection-dataset/blobs/efeac19bc08557f3023a58976a77216e32b09ef5
DataCollectionAgent/.hf_cache/hub/datasets--Deysi--spam-detection-dataset/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--Deysi--spam-detection-dataset/snapshots/93ce16d5fa4a41ca47f380654647bcdb64d60e72/README.md
DataCollectionAgent/.hf_cache/hub/datasets--Johnesss--Jigsaw-Toxic-Comment-Classification/.no_exist/7d674bf262200aa51a6191705c68c0b272008091/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--Johnesss--Jigsaw-Toxic-Comment-Classification/.no_exist/7d674bf262200aa51a6191705c68c0b272008091/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--Johnesss--Jigsaw-Toxic-Comment-Classification/.no_exist/7d674bf262200aa51a6191705c68c0b272008091/Jigsaw-Toxic-Comment-Classification.py
DataCollectionAgent/.hf_cache/hub/datasets--Johnesss--Jigsaw-Toxic-Comment-Classification/blobs/5dab083aa88ba9f9f88e124cf52ed784d0c3a24f
DataCollectionAgent/.hf_cache/hub/datasets--Johnesss--Jigsaw-Toxic-Comment-Classification/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--Johnesss--Jigsaw-Toxic-Comment-Classification/snapshots/7d674bf262200aa51a6191705c68c0b272008091/README.md
DataCollectionAgent/.hf_cache/hub/datasets--Kinoux--french-spam-ham-detection-free-2k/.no_exist/8dafb0bfb77ad1b35a82ff051b343e576e0c2a30/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--Kinoux--french-spam-ham-detection-free-2k/.no_exist/8dafb0bfb77ad1b35a82ff051b343e576e0c2a30/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--Kinoux--french-spam-ham-detection-free-2k/.no_exist/8dafb0bfb77ad1b35a82ff051b343e576e0c2a30/french-spam-ham-detection-free-2k.py
DataCollectionAgent/.hf_cache/hub/datasets--Kinoux--french-spam-ham-detection-free-2k/blobs/7f2ed9c478abd12b543a9029cb1e0b0d81f5f836
DataCollectionAgent/.hf_cache/hub/datasets--Kinoux--french-spam-ham-detection-free-2k/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--Kinoux--french-spam-ham-detection-free-2k/snapshots/8dafb0bfb77ad1b35a82ff051b343e576e0c2a30/README.md
DataCollectionAgent/.hf_cache/hub/datasets--arka7--toxic_comment_classification/.no_exist/7aef9823f9cab9ccd36aeda0a755d8e0ad02d1e2/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--arka7--toxic_comment_classification/.no_exist/7aef9823f9cab9ccd36aeda0a755d8e0ad02d1e2/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--arka7--toxic_comment_classification/.no_exist/7aef9823f9cab9ccd36aeda0a755d8e0ad02d1e2/README.md
DataCollectionAgent/.hf_cache/hub/datasets--arka7--toxic_comment_classification/.no_exist/7aef9823f9cab9ccd36aeda0a755d8e0ad02d1e2/toxic_comment_classification.py
DataCollectionAgent/.hf_cache/hub/datasets--arka7--toxic_comment_classification/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--dirtycomputer--Toxic_Comment_Classification_Challenge/.no_exist/6b0146bcc1458637c77e1fb75ba14b32d162c692/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--dirtycomputer--Toxic_Comment_Classification_Challenge/.no_exist/6b0146bcc1458637c77e1fb75ba14b32d162c692/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--dirtycomputer--Toxic_Comment_Classification_Challenge/.no_exist/6b0146bcc1458637c77e1fb75ba14b32d162c692/README.md
DataCollectionAgent/.hf_cache/hub/datasets--dirtycomputer--Toxic_Comment_Classification_Challenge/.no_exist/6b0146bcc1458637c77e1fb75ba14b32d162c692/Toxic_Comment_Classification_Challenge.py
DataCollectionAgent/.hf_cache/hub/datasets--dirtycomputer--Toxic_Comment_Classification_Challenge/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--jhan21--jigsaw-toxic-comment-classification/.no_exist/d4ce7ea11d20397a47096af771fd9f613d3bd93a/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--jhan21--jigsaw-toxic-comment-classification/.no_exist/d4ce7ea11d20397a47096af771fd9f613d3bd93a/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--jhan21--jigsaw-toxic-comment-classification/.no_exist/d4ce7ea11d20397a47096af771fd9f613d3bd93a/jigsaw-toxic-comment-classification.py
DataCollectionAgent/.hf_cache/hub/datasets--jhan21--jigsaw-toxic-comment-classification/.no_exist/d4ce7ea11d20397a47096af771fd9f613d3bd93a/README.md
DataCollectionAgent/.hf_cache/hub/datasets--jhan21--jigsaw-toxic-comment-classification/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--m375zhan--modified_jigsaw_toxic_comment_classification_challenge/.no_exist/855d907376c2de1d650f0f27cc36fe34023b4b7d/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--m375zhan--modified_jigsaw_toxic_comment_classification_challenge/.no_exist/855d907376c2de1d650f0f27cc36fe34023b4b7d/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--m375zhan--modified_jigsaw_toxic_comment_classification_challenge/.no_exist/855d907376c2de1d650f0f27cc36fe34023b4b7d/modified_jigsaw_toxic_comment_classification_challenge.py
DataCollectionAgent/.hf_cache/hub/datasets--m375zhan--modified_jigsaw_toxic_comment_classification_challenge/blobs/ad5f0e9992932e9186015da58749385a706ae9df
DataCollectionAgent/.hf_cache/hub/datasets--m375zhan--modified_jigsaw_toxic_comment_classification_challenge/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--m375zhan--modified_jigsaw_toxic_comment_classification_challenge/snapshots/855d907376c2de1d650f0f27cc36fe34023b4b7d/README.md
DataCollectionAgent/.hf_cache/hub/datasets--nahiar--facebook_spam_detection/.no_exist/2a2330d64fb3b598342aa1162f8f0af310d95f08/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--nahiar--facebook_spam_detection/.no_exist/2a2330d64fb3b598342aa1162f8f0af310d95f08/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--nahiar--facebook_spam_detection/.no_exist/2a2330d64fb3b598342aa1162f8f0af310d95f08/facebook_spam_detection.py
DataCollectionAgent/.hf_cache/hub/datasets--nahiar--facebook_spam_detection/blobs/7f63d368383b6b79382c12ec39b373edc565bd5e
DataCollectionAgent/.hf_cache/hub/datasets--nahiar--facebook_spam_detection/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--nahiar--facebook_spam_detection/snapshots/2a2330d64fb3b598342aa1162f8f0af310d95f08/README.md
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/.no_exist/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/.no_exist/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/.no_exist/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/rotten_tomatoes.py
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/blobs/3ea894e394cd24413b781790683924a2598507d146da9b4ad0a2a01830c77b00
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/blobs/3327c39f7ec73c15e0f6c132e8b0ba8907d74406
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/blobs/5427a2b59d1b9bed1ea5cc3f963843bd13ea7443f32d27e74a957a3d181cc545
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/blobs/f899e3cb8124a12b7d82c30ba5cd35d27eb6575d1b10d65f731a60348454a959
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/snapshots/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/README.md
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/snapshots/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/test.parquet
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/snapshots/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/train.parquet
DataCollectionAgent/.hf_cache/hub/datasets--rotten_tomatoes/snapshots/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/validation.parquet
DataCollectionAgent/.hf_cache/hub/datasets--ruSpamModels--russian-spam-detection/blobs/1d0f10ff58a722df001d50e6ac03b695d6558f63
DataCollectionAgent/.hf_cache/hub/datasets--ruSpamModels--russian-spam-detection/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--ruSpamModels--russian-spam-detection/snapshots/36cab606e3ba8f4668791f84e663d86684cd8342/README.md
DataCollectionAgent/.hf_cache/hub/datasets--tcapelle--jigsaw-toxic-comment-classification-challenge/.no_exist/2bf801de1b879f287943ecfc81fdca8690d9fc61/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--tcapelle--jigsaw-toxic-comment-classification-challenge/.no_exist/2bf801de1b879f287943ecfc81fdca8690d9fc61/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--tcapelle--jigsaw-toxic-comment-classification-challenge/.no_exist/2bf801de1b879f287943ecfc81fdca8690d9fc61/jigsaw-toxic-comment-classification-challenge.py
DataCollectionAgent/.hf_cache/hub/datasets--tcapelle--jigsaw-toxic-comment-classification-challenge/blobs/38ff35200ac7b93af22e1298b94f5777faf7cbd7
DataCollectionAgent/.hf_cache/hub/datasets--tcapelle--jigsaw-toxic-comment-classification-challenge/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--tcapelle--jigsaw-toxic-comment-classification-challenge/snapshots/2bf801de1b879f287943ecfc81fdca8690d9fc61/README.md
DataCollectionAgent/.hf_cache/hub/datasets--thankrandomness--spam-detection-sample/.no_exist/2ebcf6157734c2348384ce285d69f245618bdf76/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--thankrandomness--spam-detection-sample/.no_exist/2ebcf6157734c2348384ce285d69f245618bdf76/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--thankrandomness--spam-detection-sample/.no_exist/2ebcf6157734c2348384ce285d69f245618bdf76/README.md
DataCollectionAgent/.hf_cache/hub/datasets--thankrandomness--spam-detection-sample/.no_exist/2ebcf6157734c2348384ce285d69f245618bdf76/spam-detection-sample.py
DataCollectionAgent/.hf_cache/hub/datasets--thankrandomness--spam-detection-sample/blobs/fe0bffe0aed91e4d3ac1d6599177a049d479b8fa
DataCollectionAgent/.hf_cache/hub/datasets--thankrandomness--spam-detection-sample/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--thankrandomness--spam-detection-sample/snapshots/2ebcf6157734c2348384ce285d69f245618bdf76/spam-sample.csv
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/.no_exist/50f3c926ec8c07b440cb17b55d8cd80e8484497e/.huggingface.yaml
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/.no_exist/50f3c926ec8c07b440cb17b55d8cd80e8484497e/dataset_infos.json
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/.no_exist/50f3c926ec8c07b440cb17b55d8cd80e8484497e/jigsaw-toxic-comment-classification-challenge.py
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/blobs/3b189c08035521f4cbbeda8bc7b199274d24e269
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/blobs/39a3c6b66fd938b484d33d382825de801e64c5b5
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/blobs/bd4084611bd27c939ba98e5e63bc3e5a2c1a4e99477dcba46c829e4c986c429d
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/blobs/c2513ce4abb98c4d1d216e3ca0d4377d57589a0989aa8c06a840509a16c786e8
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/refs/main
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/snapshots/50f3c926ec8c07b440cb17b55d8cd80e8484497e/README.md
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/snapshots/50f3c926ec8c07b440cb17b55d8cd80e8484497e/test_labels.csv
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/snapshots/50f3c926ec8c07b440cb17b55d8cd80e8484497e/test.csv
DataCollectionAgent/.hf_cache/hub/datasets--thesofakillers--jigsaw-toxic-comment-classification-challenge/snapshots/50f3c926ec8c07b440cb17b55d8cd80e8484497e/train.csv
DataCollectionAgent/.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/cache-dfd96905323ef0dc.arrow
DataCollectionAgent/.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/dataset_info.json
DataCollectionAgent/.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/rotten_tomatoes-test.arrow
DataCollectionAgent/.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/rotten_tomatoes-train.arrow
DataCollectionAgent/.hf_cache/rotten_tomatoes/default/0.0.0/aa13bc287fa6fcab6daf52f0dfb9994269ffea28/rotten_tomatoes-validation.arrow
DataCollectionAgent/.hf_cache/thankrandomness___spam-detection-sample/default/0.0.0/2ebcf6157734c2348384ce285d69f245618bdf76/cache-b2460f27c0bd5239.arrow
DataCollectionAgent/.hf_cache/thankrandomness___spam-detection-sample/default/0.0.0/2ebcf6157734c2348384ce285d69f245618bdf76/dataset_info.json
DataCollectionAgent/.hf_cache/thankrandomness___spam-detection-sample/default/0.0.0/2ebcf6157734c2348384ce285d69f245618bdf76/spam-detection-sample-train.arrow
DataCollectionAgent/.hf_cache/thesofakillers___jigsaw-toxic-comment-classification-challenge/default/0.0.0/50f3c926ec8c07b440cb17b55d8cd80e8484497e/cache-f0558534e9666eab.arrow
DataCollectionAgent/.hf_cache/thesofakillers___jigsaw-toxic-comment-classification-challenge/default/0.0.0/50f3c926ec8c07b440cb17b55d8cd80e8484497e/dataset_info.json
DataCollectionAgent/.hf_cache/thesofakillers___jigsaw-toxic-comment-classification-challenge/default/0.0.0/50f3c926ec8c07b440cb17b55d8cd80e8484497e/jigsaw-toxic-comment-classification-challenge-test.arrow
DataCollectionAgent/.hf_cache/thesofakillers___jigsaw-toxic-comment-classification-challenge/default/0.0.0/50f3c926ec8c07b440cb17b55d8cd80e8484497e/jigsaw-toxic-comment-classification-challenge-train.arrow
DataCollectionAgent/.jupyter/migrated
.matplotlib/fontlist-v390.json
